.profile {
    width: 100%;
    flex-grow: 1;
    padding-top: 30px;
    padding-bottom: 30px;

    .header {
        line-height: 50px;
        font-weight: 600;
        width: 70%;
        margin: auto;
    }

    .innerBox {
        width: 70%;
        margin: auto;
        overflow: hidden;
        border-radius: 20px;


        .inpGrid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
            margin-bottom: 10px;

            label {
                font-size: 12px;
                color: #DCDCDC;
            }

            input {
                width: 100%;
                height: 25px;
                background-color: #737373;
                outline: none;
                border: none;
                border-radius: 2px;
                color: white;
                padding-left: 10px;
                margin-top: 5px;
            }
        }

        .inputTag {
            margin-bottom: 10px;

            label {
                font-size: 12px;
                color: #DCDCDC;
            }

            input,
            textarea {
                width: 100%;
                height: 25px;
                background-color: #737373;
                outline: none;
                border: none;
                border-radius: 2px;
                color: white;
                padding-left: 10px;
                margin-top: 5px;
            }

            textarea {
                height: 125px;
            }
        }


        .selectBar {
            width: 250px;
            display: grid;
            grid-template-columns: 100px 150px;
            height: 50px;

            div {
                border-right: 1px solid var(--main, rgba(255, 255, 255, 0.10));
                background: rgba(29, 29, 29, 0.32);
                backdrop-filter: blur(20px);
                color: #616161;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 14px;
                cursor: pointer;

            }

            .active {
                background: rgba(255, 255, 255, 0.10);
                color: white;
            }
        }

        .partitionBox {
            width: 100%;
            background: rgba(255, 255, 255, 0.10);
            backdrop-filter: blur(20px);
            border-radius: 0px 20px 20px 0px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .left {
                border-right: 1px solid rgba(255, 255, 255, 0.14);
                padding: 25px;

                section {
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: .5px;
                }

                .imageSection {
                    text-align: center;
                    padding-top: 30px;
                    padding-bottom: 20px;

                    .image {
                        width: 100px;
                        height: auto;
                        border: 2px solid white;
                        border-radius: 50%;
                    }
                }


                .infoSection {
                    padding-right: 5px;
                }

            }

            .right {
                padding: 25px;

                .btnCon {
                    text-align: center;
                    margin-bottom: 20px;

                    .moreBt {
                        width: 102.8%;
                        height: 30px;
                        text-transform: none;
                        font-size: 12px;
                        background: linear-gradient(180deg, #698E66 0%, #A3F29D 100%);
                    }
                }
            }
        }
    }
}